<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wir verwenden deinen Standort im Hintergrund, um Fahrten auch bei gesperrtem Bildschirm zuverlässig aufzuzeichnen.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wir verwenden deinen Standort, um Start und Ziel deiner Fahrt zu bestimmen.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
