<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAubaftU1EfkxwNXyyKSvsK461vJwRt0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>333406633031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studienarbeit.DriveWise</string>
	<key>PROJECT_ID</key>
	<string>drivewise-41de5</string>
	<key>STORAGE_BUCKET</key>
	<string>drivewise-41de5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333406633031:ios:355b09b53dac2e767dc562</string>
</dict>
</plist>
